{% extends 'base.html' %}
{% block content %}
<a href="{% url 'webapp:ServerCreate' %}">Create a new redis server</a>

<table style="width: 100%;">
    <tr>
        <th>server name</th>
        <th>host</th>
        <th>passowrd</th>
        <th>db</th>
    </tr>
    {% for server in servers %}
    <tr>
        <td>
            <a href="{% url 'webapp:ServerDetail' server.pk %}">{{ server.name }}</a>
        </td>
        <td>{{ server.host }}</td>
        <td>****password</td>
        <td>{{ server.db }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}